<nav class="navbar is-fixed-top is-transparent ">
  <div class="navbar-brand">
    <a href="" class="navbar-item ml-5">
      <img src="./assets/images/netflix.svg" alt="">
    </a>
  </div>
  <div class="navbar-menu navbarContainer">
    <div class="navbar-start ml-5">
        <a class="navbar-item has-text-white bold" routerLink=""><strong>Accueil</strong></a>
        <a class="navbar-item has-text-white" routerLink="">Séries</a>
        <a class="navbar-item has-text-white" routerLink="">Films</a>
        <a class="navbar-item has-text-white" routerLink="">Nouveautés les plus regardées</a>
        <a class="navbar-item has-text-white" routerLink="">Ma list</a>
    </div>
    <div class="navbar-end mr-5">
      <a class="navbar-item has-text-white" routerLink="">DIRECT</a>
      <a class="navbar-item has-text-white" routerLink="">JEUNESSE</a>
  </div>
</div>
</nav>