.modal-card-head {
    background-color: #464646;
}
.modal-card-title {
    color: #fff;
    font-weight: 550;
}
.modal-card-body {
    background-color: #363636;
}
p {
    margin-right: 2em; 
    margin-left: 30px; 
    margin-top:auto; 
    margin-bottom: auto;
    color: #fff
}

.modal-card {
    width:60%;
    height: 70vh;
}

.container {
    height: 100%;
}

h1 {
    font-weight: 600; 
    font-size: 3em; 
    margin-left: 10vh;
    color: #aaaaaa
}
img {
    width: 50%; 
    height:70%;
    margin: auto;
}

.card{
    height: 100%;
    background-color: #363636;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

iframe {
    margin-top: auto;
    margin-bottom: auto;
}