<section class="hero  is-fullheight is-bold" style='background-color: #141414;'>
  <div class="container">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div ngxSlickItem *ngFor="let movie of movies.results" class="slide">
        <a routerLink="/{{ movie.id }}" class="mt-2">
          <img [src]="movie.backdrop_path" />
        </a>
          <p class="has-text-white has-text-centered">{{ movie.title }}</p>
      </div>
    </ngx-slick-carousel>
    </div>
</section>
